<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>SRM MLOPS</title>
        <!--====== Favicon Icon ======-->
        <link
            rel="shortcut icon"
            href="{{ url_for('static', filename='images/favicon.png') }}"
            type="image/svg"
            />
        <!-- ===== All CSS files ===== -->
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    </head>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
            $(function() {
                $('a#recordButton').on('click', function(e) {
                    $(this).val('Recording...')
                e.preventDefault()
                $.getJSON('/record',
                    function(data) {
                        console.log("after recording is done");
                        // document.getElementById("recordButtonBTN").disabled = false;
                        $("#text").text(data.result);
                        $("#word").text(data.answer);
                        $("#recordButtonBTN").removeAttr("disabled");
                        $("#recordButtonBTN").html('Start Recording');
                });
                return false;
            });
        });
    </script>

    <body>
        <!-- ====== Document Start ====== -->
        <section class="ud-hero" style="padding-top:5em">
            <div class="container">
            <div class="row">
                <div class="ud-hero-content" id="speechContainer">
                    <h1 class="ud-hero-title">
                        MLOPS Speech Recognition Model
                    </h1>
                    <p class="ud-hero-desc">
                        Record your own voice or upload a voice file
                    </p>
                    <p class="ud-hero-desc" style="padding-top:0em">
                        Audio from text generator: <a style="color:hotpink" target="_blank" href="https://voicemaker.in">https://voicemaker.in/</a>
                    </p>
                    <!-- START OF RECODING PART -->
                    <select hidden id="encodingTypeSelect">
                        <option hidden value="wav">Waveform Audio (.wav)</option>
                    </select>
                    <p class="ud-hero-desc" style="margin-bottom: 0;">
                        VOICE RECORDER
                    </p>
                    <ul class="ud-hero-buttons">
                        <li id="controls">
                            <button class="ud-main-btn ud-white-btn" id="recordButton">Record</button>
                            <button class="ud-main-btn ud-white-btn" id="stopButton" disabled>Stop</button>
                        </li>
                    </ul>
                    <ul class="ud-hero-buttons">
                        <li>
                            <ol style="background-color: rgb(255, 255, 255)" id="recordingsList"></ol>
                        </li>
                    </ul>
                    <div hidden id="formats"></div>
                    <pre hidden>Log</pre>
                    <pre hidden id="log"></pre>
                    
                    <!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
                    <script src="{{ url_for('static', filename='js/WebAudioRecorder.min.js') }}" ></script>
                    <script src="{{ url_for('static', filename='js/app.js') }}" ></script>
                    <!-- END OF RECODING PART -->

                    <p class="ud-hero-desc" style="padding-top:3em; margin-bottom: 0;">
                        FILE SELECTOR
                    </p>
                    <form method="post" enctype="multipart/form-data">
                        <ul class="ud-hero-buttons">
                            <li>
                                <input class="ud-main-btn ud-white-btn" type="file" name="file"/>
                                <!--<a href=# id=recordButton>
                                    <button id="recordButtonBTN" class='ud-main-btn ud-white-btn'>Record voice</button>
                                </a>-->
                            </li>
                        </ul>
                        <p class="ud-hero-desc" style="padding-top:3em">
                            Choose one of our models and see the recognition result
                        </p>
                        <ul class="ud-hero-buttons" style="text-align: center; list-style-position: inside;">
                            <li>
                                <button class="ud-main-btn ud-white-btn" type="submit" name="submit_button" value="Default (h5)">Default (h5)</button>
                                <button class="ud-main-btn ud-white-btn" type="submit" name="submit_button" value="Default (TFlite)">Default (TFlite)</button>
                                <button class="ud-main-btn ud-white-btn" type="submit" name="submit_button" value="Experimental (TFlite)">Experimental (TFlite)</button>
                                <button class="ud-main-btn ud-white-btn" type="submit" name="submit_button" value="Float 16 (TFlite)">Float 16 (TFlite)</button>
                                <button class="ud-main-btn ud-white-btn" type="submit" name="submit_button" value="No optimization (TFlite)">No optimization (TFlite)</button>
                            </li>
                        </ul>
                    </form>
                    <p class="ud-hero-desc" style="padding-top:3em">
                        RECOGNITION RESULT
                    </p>
                    <p id="speechTranscriptContainer" class="ud-hero-desc" style="padding-top:0em">
                        <p id="speechText" class="ud-hero-desc" style="padding-top:0em">{{ transcript }}</p>
                    </p>
                </div>
            </div>
        </section>
        <!-- ====== Document End ====== -->
        <!-- ====== All Javascript Files ====== -->
        <!-- <script src="assets/js/bootstrap.bundle.min.js"></script> -->
    </body>
</html>

