<!--
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">Speech Recognition in Python</title>
	<link href="https://fonts.googleapis.com/css2?Lato:wght@400;700&display=swap" rel="stylesheet"link rel="styles url_for('static', filename='styles/index.css') }}" />
</head>
<body>
<div id="linkGenerator">
	<h1>Audio from text generator :</h1>
	<a href="https://voicemaker.in/">Generator's link</a>
</div>
<div id="speechContainer">
    <h1>Upload new File</h1>
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="file"/>
        <br>
        <input type="submit" id="submitButton" value="Transcribe"/>
    </form>

    {% if transcript != "" %}
        <div id="speechTranscriptContainer">
            <h1>Transcript</h1>
            <p id="speechText">{{ transcript }}</p>
        </div>
    {% endif %}
</div>
</body>
</html>
-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>STT MLOPS</title>
        <!--====== Favicon Icon ======-->
        <link
            rel="shortcut icon"
            href="{{ url_for('static', filename='images/favicon.png') }}"
            type="image/svg"
            />
        <!-- ===== All CSS files ===== -->
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    </head>
    <body>
        <!-- ====== Document Start ====== -->
        <section class="ud-hero" style="padding-top:5em">
            <div class="container">
            <div class="row">
                <div class="ud-hero-content">
                    <h1 class="ud-hero-title">
                        MLOPS Speech Recognition Model
                    </h1>
                    <p class="ud-hero-desc">
                        Record your own voice or upload a voice file
                    </p>
                    <p class="ud-hero-desc" style="padding-top:0em">
                        Audio from text generator: <a style="color:hotpink" target="_blank" href="https://voicemaker.in">https://voicemaker.in/</a>
                    </p>
                    <ul class="ud-hero-buttons">
                        <li>
                            <input class="ud-main-btn ud-white-btn" type="file" name="Upload .wav"/>
                            <button class="ud-main-btn ud-white-btn">
                            Record voice
                            </button>
                        </li>
                    </ul>
                    <p class="ud-hero-desc" style="padding-top:3em">
                        Choose one of our models and see the recognition result
                    </p>
                    <ul class="ud-hero-buttons">
                        <li>
                            <input class="ud-main-btn ud-white-btn" type="submit" value="Original"/>
                            <input class="ud-main-btn ud-white-btn" type="submit" value="Compressed (simple)"/>
                            <input class="ud-main-btn ud-white-btn" type="submit" value="Compressed (optimized)"/>
                        </li>
                    </ul>
                    <p class="ud-hero-desc" style="padding-top:3em">
                        RECOGNITION RESULT
                    </p>
                    <p class="ud-hero-desc" style="padding-top:0em">
                        {% if transcript != "" %}
                            <div id="speechTranscriptContainer">
                                <h1>Transcript</h1>
                                <p id="speechText">{{ transcript }}</p>
                            </div>
                        {% endif %}
                    </p>
                </div>
            </div>
        </section>
        <!-- ====== Document End ====== -->
        <!-- ====== All Javascript Files ====== -->
        <!-- <script src="assets/js/bootstrap.bundle.min.js"></script> -->
    </body>
</html>

